


<div class="grid-container">
    <h1 class="mat-h1">Información</h1>
    <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        {{card.title}}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <ng-container *ngIf="card.id === 1; else elseTemplate">
                        <app-mapa></app-mapa>
                    </ng-container>
                    <mat-card-content class="dashboard-card-content"></mat-card-content>
                    <ng-container *ngIf="card.id === 2; else elseTemplate">
                      <app-novedades></app-novedades>
                    </ng-container>
                    <ng-template #elseTemplate>
                    </ng-template>
                    <ng-container *ngIf="card.id === 3; else elseTemplate">
                        <div *ngIf="existeRecursos">
                            <app-lista-recursos-disponibles [dataSource]="dataSource" ></app-lista-recursos-disponibles>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="card.id === 4; else elseTemplate">
                      <app-donaciones></app-donaciones>
                    </ng-container>
                    <ng-template #elseTemplate>

                        <div>Card Content Here</div>
                    </ng-template>

                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
