.col{
  flex: 1;
}
.col2{
  flex: 0;
  height: 20px;
  padding-right: 10px;
  width: fit-content;
  margin-bottom: 20px;
}


ngx-twitter-timeline > iframe{
  width: 100px !important;
  height: 100px !important;
  max-width: 100px !important;
  max-height: 100px !important;
}


iframe {

  width: 100px !important;
  height: 100px !important;
  max-width: 100px !important;
  max-height: 100px !important;
}

#twitter-widget-0 {
  width: 100px !important;
  height: 100px !important;
  max-width: 100px !important;
  max-height: 100px !important;
}
