<div class="container">
    <h1 class="mat-h1">Listar visitas pendientes</h1>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort >

            <!-- Actions Column -->
            <ng-container matColumnDef="Nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let ciudadano"> {{ciudadano.nombre}} </td>
            </ng-container>


            <!-- Id Column -->
            <ng-container matColumnDef="Apellido">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
                <td mat-cell *matCellDef="let ciudadano"> {{ciudadano.apellido}} </td>
            </ng-container>


            <!-- Nombre Column -->
            <ng-container matColumnDef="Direccion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </th>
                <td mat-cell *matCellDef="let ciudadano"> {{ciudadano.direccion}} </td>
            </ng-container>


            <!-- Estado Column -->
            <ng-container matColumnDef="Fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                <td mat-cell *matCellDef="let ciudadano"> {{ciudadano.fecha}} </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let ciudadano" [attr.colspan]="columnsToDisplay.length">
                    <div class="example-element-detail" [@detailExpand]="
                    ciudadano == expandedElement ? 'expanded' : 'collapsed'
            ">
                        <div class="example-element-diagram">
                            <div class="example-element-position">{{ ciudadano.nombre }}</div>
                            <div class="example-element-symbol">{{ ciudadano.apellido }}</div>
                            <div class="example-element-name">{{ ciudadano.direccion }}</div>
                            <div class="example-element-weight">{{ ciudadano.fecha }}</div>
                        </div>
                        <div class="example-element-description">
                            {{ ciudadano.nombre }}
                            <span class="example-element-description-attribution">
                                -- Wikipedia
                            </span>
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let ciudadano; columns: columnsToDisplay" class="example-element-row"
                [class.example-expanded-row]="expandedElement === ciudadano"
                (click)="expandedElement = expandedElement === ciudadano ? null : ciudadano"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" ></mat-paginator>



    </div>

</div>