<div class="row" style="margin: 0;">
  <div class="col-xs-12">
    <div class="box">
      <h1 class="mat-h1">Resultados de exámenes</h1>
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="Examen">
          <mat-header-cell *matHeaderCellDef> Exámen </mat-header-cell>
          <mat-cell *matCellDef="let resultadoExamen">
            {{ resultadoExamen.nombreExamen }}
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Resultado">
          <mat-header-cell *matHeaderCellDef> Resultado </mat-header-cell>
          <mat-cell *matCellDef="let resultadoExamen">
            {{ resultadoExamen.resultadoExamen }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row
          *matRowDef="let resultadoExamen; columns: displayedColumns"
        ></mat-row>
      </mat-table>
    </div>
  </div>
</div>
