<form [formGroup]="usuarioForm" novalidate (ngSubmit)="guardarCambios($event)">
  <mat-card class="perfil-card">
    <mat-card-header > 
      <mat-card-title >Perfil del Ciudadano</mat-card-title>
    </mat-card-header>
    <mat-card-content>


      <div class="row">

        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Usuario" formControlName="username">
            <mat-error *ngIf="usernameField.hasError('required')">
              Usuario es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="emailField.hasError('required')">
              Email es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre" formControlName="nombre">
            <mat-error *ngIf="nombreField.hasError('required')">
              El nombre es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Apellido" formControlName="apellido">
            <mat-error *ngIf="apellidoField.hasError('required')">
              Apellido es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">

          <mat-form-field class="full-width">
            <input placeholder="Cédula de Identidad" matInput 
              formControlName="cedula">
            <mat-error *ngIf="cedulaField.hasError('required')">
              Cédula de Identidad es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" color="accent">
            <mat-label>Télefono</mat-label>
            <input matInput formControlName="fechaNacimiento" formControlName="telefono">
            <mat-error *ngIf="telefonoField.hasError('required')">
              Télefono es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">

          <mat-form-field class="full-width">
            <input type="text" placeholder="Nacionalidad" aria-label="Number" matInput [matAutocomplete]="auto"
              formControlName="nacionalidad">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="nacionalidadField.hasError('required')">
              Nacionalidad es <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" color="accent">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Dirección" formControlName="direccion">
            <mat-error *ngIf="direccionField.hasError('required')">
              Dirección es <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="usuarioForm.invalid">Confirmar!</button>
    </mat-card-actions>
  </mat-card>
</form>