<form [formGroup]="usuarioForm" novalidate (ngSubmit)="guardarCambios($event)">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Validar Datos!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre" formControlName="nombre">
            <mat-error *ngIf="usuarioForm.controls['nombre'].hasError('required')">
              El nombre es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Apellido" formControlName="apellido">
            <mat-error *ngIf="usuarioForm.controls['apellido'].hasError('required')">
              Apellido es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Nacionalidad" formControlName="nacionalidad"></textarea>
            <mat-error *ngIf="usuarioForm.controls['nacionalidad'].hasError('required')">
              Nacionalidad es <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Fecha de Nacimiento" formControlName="fechaNacimiento"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Dirección" formControlName="direccion">
            <mat-error *ngIf="usuarioForm.controls['direccion'].hasError('required')">
              Dirección es <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="usuarioForm.controls['email'].hasError('required')">
              Email es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="usuarioForm.invalid">Confirmar!</button>
    </mat-card-actions>
  </mat-card>
</form>