<div class="row center-xs middle-xs" [formGroup]="loginForm">

  <div class="col-xs-12 col-md-6">
    <div class="box">

      <div id="login" class="login-wrapper" *ngIf="!showSppiner">

        <mat-card class="box example-card">
          <mat-card-header>
            <mat-card-title>Iniciar Sesión!</mat-card-title>
          </mat-card-header>

          <!-- <form class="example-form">
            <mat-card-content>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Username">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Password">
              </mat-form-field>
            </mat-card-content>

            <button mat-stroked-button color="accent" class="btn-block">Log in</button>

          </form> -->


          <div id="tipo-usuario" style="margin: 10px 0px; text-align: left;">

            <mat-form-field class="full-width">
              <mat-select placeholder="Selecioná tu tipo de usuario" formControlName="selectTipoUsuario"
                [(ngModel)]="tipoUsuarioSelected" cdkFocusInitial>
                <mat-option *ngFor="let tipoUsuario of tipoUsuarios" [value]="tipoUsuario.value">
                  {{tipoUsuario.description}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="selectTipoUsuarioField.hasError('required')">

                Seleccionar un tipo de usuario es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>

            <!-- <mat-form-field>
              <label id="example-radio-group-label">Selecioná tu tipo de usuario</label>
              
              <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="tipoUsuarioSelected" formControlName="selectTipoUsuario">
                <mat-radio-button class="example-radio-button" *ngFor="let tipoUsuario of tipoUsuarios"
                  [value]="tipoUsuario.value">
                  {{tipoUsuario.description}}
                </mat-radio-button>
                <mat-error
                  *ngIf="selectTipoUsuarioField.hasError('required') && selectTipoUsuarioField.dirty && selectTipoUsuarioField.errors">
                  El número del alumno <strong>es requerido.</strong>
                </mat-error>
              </mat-radio-group>
            </mat-form-field> -->

          </div>


          <mat-card-subtitle class="buttons-redes-social">

            <div id="login-buttons" *ngIf="loggedIn===false">

              <button type="button" (click)="loginWithFB()" mat-flat-button color="primary">
                <img class="img"
                  src="https://z-p3-static.xx.fbcdn.net/rsrc.php/v3/yN/r/szGrb_tkxMW.png?_nc_eui2=AeGp_6NbxITYFNK_Zr8_uko41khCDd6KELDWSEIN3ooQsCcUvOMvnMn3BnjjVbCoRb0"
                  alt="" width="24" height="24"> Iniciar sesión con Facebook</button>


              <button type="button" (click)="loginWithGoogle()" mat-flat-button color="primary">
                <div class="abcRioButtonIcon"
                  style="padding: 4px;margin: 5px 10px 0px 0px;background: white;border-radius: 50px;">
                  <div style="width:18px;height:18px;"
                    class="abcRioButtonSvgImageWithFallback abcRioButtonIconImage abcRioButtonIconImage18"><svg
                      version="1.1" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 48 48"
                      class="abcRioButtonSvg">
                      <g>
                        <path fill="#EA4335"
                          d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z">
                        </path>
                        <path fill="#4285F4"
                          d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z">
                        </path>
                        <path fill="#FBBC05"
                          d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z">
                        </path>
                        <path fill="#34A853"
                          d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z">
                        </path>
                        <path fill="none" d="M0 0h48v48H0z"></path>
                      </g>
                    </svg></div>
                </div> Iniciar sesión con Google
              </button>

            </div>

            <button type="button" (click)="logout()" *ngIf="loggedIn===true" mat-flat-button color="primary">
              <img class="img"
                src="https://z-p3-static.xx.fbcdn.net/rsrc.php/v3/yN/r/szGrb_tkxMW.png?_nc_eui2=AeGp_6NbxITYFNK_Zr8_uko41khCDd6KELDWSEIN3ooQsCcUvOMvnMn3BnjjVbCoRb0"
                alt="" width="24" height="24"> Cerrar sesión </button>
          </mat-card-subtitle>
        </mat-card>

      </div>
      <div id="spinner" class="login-wrapper" *ngIf="showSppiner">
        <h2 class="example-h2">Iniciando sesión...</h2>
        <mat-progress-spinner class="example-margin" color="accent" mode="indeterminate" style="margin: 0px auto;">
        </mat-progress-spinner>
      </div>
    </div>
  </div>
</div>